:root,
html {
    font-size: 16pt;

    $bodyBG: white;
    $bodyFG: black;

    $navBorder: black;
    $aHoverFG: black;

    &[data-theme=dark] {
        $bodyBG: midnightblue;
        $bodyFG: white;

        $navBorder: white;
        $aHoverFG: cyan;
    }

    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;

        background: $bodyBG;
        color: $bodyFG;

        nav {
            background: inherit;
            color: inherit;
            width: fit-content;

            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            border-right: 1px solid $navBorder;
            padding-top: 1rem;
            padding-bottom: 1rem;

            a {
                display: flex;
                gap: 0.5rem;

                text-decoration: none;
                color: inherit;

                padding: 5px 10px;

                &:hover {
                    color: $aHoverFG;
                }

                &.end {
                    margin-top: auto;
                }
            }
        }
    }

}
